.work__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #ffffff20;
  padding: 1rem;

  flex-wrap: wrap;
}

.large__container {
  width: 80%;
  margin-top: 1em;
}

.work__progress_label {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .large__container {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .work__small__container {
    display: none;
  }
}
