.relevelheader__title {
  font-size: 2rem;
}
.relevelheader {
  background-color: rgba(173, 176, 223, 0.795);
  min-height: 6em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
